census==0.8.17
Django==3.1.7
django-cors-headers==3.7.0
django-extensions==3.1.1
django-filter==2.4.0
django-leaflet==0.27.1
django-model-utils==4.1.1
django-polymorphic==3.0.0
django-rest-polymorphic==0.1.9
djangorestframework==3.12.2
psycopg2-binary
pygraphviz==1.7
requests==2.25.1
uncertainties==3.1.5
django-grappelli
djangorestframework-camel-case
django-nested-admin~=3.3.3
python-dateutil~=2.8.1
pystache~=0.5.4
openpyxl~=3.0.6
django-debug-toolbar~=3.2
djangorestframework-mvt
python-memcached
asgiref~=3.3.1
mapbox-vector-tile
jenkspy